countries/kenya/.Rhistory
export_sql/.RData
export_sql/.Rhistory
*.Rproj*
hmis_analysis/kenya/litt
hmis_analysis/nigeria/DHIS2Nigeria-A_mine_of_Data.pptx
hmis_analysis/kenya/report
hmis_analysis/nigeria/NGAMap